<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Waste Tracker</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Waste Tracker</string>
		<key>CFBundlePackageType</key>
		<string>APPL</string>
		<key>CFBundleShortVersionString</key>
		<string>$(MARKETING_VERSION)</string>
		<key>CFBundleSignature</key>
		<string>????</string>
		<key>CFBundleURLSchemes</key>
		<array>
			<string>app-1-554281553345-ios-4353687cc380dac79b7340</string>
			<string>app-1-99505013884-ios-2a159d9c7307a1c492b5f9</string>
		</array>
		<key>CFBundleURLTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>com.swapapp</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.554281553345-b46rldhfg32pbd504q5bl20eh3d7j9o7</string>
				</array>
			</dict>
			<dict>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>CFBundleURLName</key>
				<string>com.swapapp</string>
				<key>CFBundleURLSchemes</key>
				<array>
					<string>com.googleusercontent.apps.99505013884-vkvqbdg4ettdsjdkrl5k1ho7ad916qjn</string>
				</array>
			</dict>
		</array>
		<key>CFBundleVersion</key>
		<string>64</string>
		<key>FirebaseAppDelegateProxyEnabled</key>
		<true/>
		<key>FirebaseMessagingAutoInitEnabled</key>
		<false/>
		<key>LSApplicationQueriesSchemes</key>
		<array>
			<string>comgooglemaps</string>
			<string>baidumap</string>
			<string>iosamap</string>
			<string>waze</string>
			<string>yandexmaps</string>
			<string>yandexnavi</string>
			<string>citymapper</string>
			<string>mapswithme</string>
			<string>osmandmaps</string>
			<string>dgis</string>
			<string>qqmap</string>
			<string>here-location</string>
			<string>tomtomgo</string>
			<string>sms</string>
			<string>tel</string>
		</array>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>NSCameraUsageDescription</key>
		<string>User will take photos to create a report</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>Not in use</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>User will need to create report at their current location.</string>
		<key>NSLocationAlwaysUsageDescription</key>
		<string>User will need to create report at their current location.</string>
		<key>NSMicrophoneUsageDescription</key>
		<string>Not in use</string>
		<key>NSPhotoLibraryUsageDescription</key>
		<string>User will upload report photos</string>
		<key>UIBackgroundModes</key>
		<array>
			<string>fetch</string>
			<string>remote-notification</string>
		</array>
		<key>UILaunchStoryboardName</key>
		<string>LaunchScreen</string>
		<key>UIMainStoryboardFile</key>
		<string>Main</string>
		<key>UIStatusBarHidden</key>
		<false/>
		<key>UISupportedInterfaceOrientations</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<array>
			<string>UIInterfaceOrientationPortrait</string>
			<string>UIInterfaceOrientationPortraitUpsideDown</string>
			<string>UIInterfaceOrientationLandscapeLeft</string>
			<string>UIInterfaceOrientationLandscapeRight</string>
		</array>
		<key>UIViewControllerBasedStatusBarAppearance</key>
		<false/>
		<key>io.flutter.embedded_views_preview</key>
		<true/>
	</dict>
</plist>
